{% extends 'base.html.twig' %}

{% block title %}Incomes index{% endblock %}

{% block body %}
    <h1>Incomes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Mois</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
            <tr>
                <td>{{ income.id }}</td>
                <td>{{ income.montant }}</td>
                <td>{{ income.mois ? income.mois|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_incomes_show', {'id': income.id}) }}">show</a>
                    <a href="{{ path('app_incomes_edit', {'id': income.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_incomes_new') }}">Create new</a>
{% endblock %}
